// verde = #9FD8D2
verde = #0DC8FF
// verde2 = #459F83
verde2 = #067090
// verde3 = #A2B87A
verde3 = #067090
// gris = #57646D
gris = #CCC
gris2 = #E6E7E9
gris3 = #CCC
azul = #36B0E3
rojo = red
.rojo
	color rgba(red, .6)
.black
	color black
.verde3
	color verde3
.verde2
	color verde2
.verde
	color verde
.azul
	color azul
.blanco
	color white
	&:hover
		color white
.not-found
	padding-top 50px
	padding-bottom 100px
img.cien
	width 100%
	height auto
a:hover
	color verde2 !important
a.btn.btn-link
	color azul
.alert.alert-success
	margin-top 5px
.btn.btn-primary.submit
	background-color verde2
	border-color verde2
img
	padding 0
.not-images
	padding-top 30px
	padding-bottom 30px
.pagination-container
	width 100%
	.pagination>li>a
		color verde2
	.pagination>.active>span
		background-color verde2
		color white
		border-color verde2
.inner-logo
	margin-top -50px
	position relative
	z-index 1
.text-center
	overflow hidden
.text-center.login
	margin-top -70px
	padding-left 30px
	padding-right 30px
.handlee
	font-family 'Handlee', cursive
h1.handlee.verde2
	margin-left -15px
	line-height 1.4em
body
	background #F2F2F2
	font-family 'Source Sans Pro', sans-serif
.navbar-default
	background-color rgba(gris3,.8)
	border-color gris3
	.navbar-toggle
		border none
		&:focus
			background rgba(verde2, .7)
		&:hover
			background rgba(verde2, .2)
			
		.icon-bar
			background-color white
			height 4px
			width 36px
	.navbar-nav>li>a
		color white
.navbar
	margin-bottom 0
	font-family 'Handlee', cursive
.navbar-brand
	overflow hidden
	img
		height auto
		margin-top -40px
		width 90px
.main-banner
.footer-banner
	.item
		background-color gris
		background-position center top
		background-repeat no-repeat
		background-size cover
		color white
		height 300px
		padding 183px 30px 0 30px
		.title
			font-size 2.2em
	.slick-prev
	.slick-next
		display none !important
	.slick-dots
		text-align center
		li
			display inline-block
			width 20px
			height 20px
			overflow hidden
			border 1px solid verde2
			border-radius 50%
			margin 10px 5px
			&.slick-active
				background-color verde2
			button
				background transparent
				border none
				color transparent
.banner-inner
	.item
		background-position center top
		background-repeat no-repeat
		background-size cover
		height 300px
		overflow hidden
		a
			position relative
			top 200px
	.slick-prev
	.slick-next
	.slick-dots
		display none !important
.last-uploaded-item
	background white
	margin 20px 0
	padding 0
	figure
		display inline-block
		margin 0
		padding 0
		vertical-align top
		width 49%
		background #CAFFDE
		img
			height auto
			width 100%
	.info
		display inline-block
		padding 10px
		width 50%
.last-uploaded.bottom
	margin-bottom 40px
.search-result-item
	margin-bottom 40px
	figure
		padding 0
		margin 0
		img
			width 100%
			height auto
	.item-container
		background-color white
		.photo
			background-color gray
		.info
			padding 10px
			.title
				padding-bottom 10px
.container-fluid.search
	background-color white
	margin-top 40px
	padding-bottom 50px
	padding-top 50px
.container.form
	background gris2
	padding-bottom 30px
	padding-top 30px
	.search-title
		font-size 2em
	.btn.btn-primary
		background verde
		border-color verde
		font-size 1.4em
		width 100%
.search.inner
	margin-top 40px
	margin-bottom 40px
	.form
		background gris2
		padding-bottom 30px
		padding-top 20px
		.search-title
			font-size 2em
		.btn.btn-primary
			background verde
			border-color verde
			font-size 1.4em
			width 100%
	.banner
		figure
			margin 0
			padding 0
			img
				width 100%
				height auto
/*ABOUT US*/
.about-us
	iframe
		display block
		height auto
		overflow hidden
		width 100%
.about-us-images
	padding-bottom 40px
	img
		height auto
		margin-top 20px
		width 100%
/*Notice*/
.privacy-notice
	padding-bottom 40px
	padding-top 40px
/*Eventos*/
.event-item
	background-color gris
	background-position center top
	background-repeat no-repeat
	background-size cover
	height 200px
	margin-bottom 40px
	margin-top 20px
	h2.title
		padding-top 100px
		position relative
/*Detail*/
.container.detail
	padding-top 40px
.col-sm-6.white
	background white
	padding-top 20px
	figure
		padding 0
		text-align center
		img
			width 98%
	h1.handlee.verde2
		margin-left initial
		margin-top 0
		line-height 1em
		font-size 2em
	&.description
		margin-top -20px
		padding-bottom 30px
.gallery-item
	figure
		padding 0
		margin 15px 0
		height 120px
		overflow hidden
		img
			width 100%
			height auto
			display block
.gallery-item:last-of-type
	padding-bottom 30px
		
.info-container
	background white
	height auto
	overflow hidden
	padding-top 20px
	padding-bottom 20px
	.col-xs-3
	.col-xs-9
		line-height 1.8em
	.map-container
		margin-top 20px
		img
			width 100%
/*Login*/
.form-group
	&.error
		.form-control
			border-color red
	&.dashed
		border 1px dashed gray
		height 200px
		background white url(../../images/nube.jpg) no-repeat center center
	span
		width 8%
		display inline-block
		color gris3
		font-size 2.1em
.form-control
	border-radius 0
	border-color #D9D9D9
	&.ninety
		width 90%
		display inline-block
		float right
.btn.btn-primary.login
	width 100%
	background-color verde
	border-radius 0
	border-color verde
.row.register
	margin-bottom 50px
.form-horizontal
	position relative
.sent_mail_alert
	background verde
	color white
	width 100%
	font-size 1.2em
	padding 30px 20px
	display none
	&.register
		border 2px solid black
		position absolute
		bottom 250px
	
footer
	background-color gris
	color white
	padding-bottom 30px
	padding-top 30px
	.contact
		color verde2
		font-size 2.8em
	a
		color verde3
@media screen and (min-width:480px)
	.gallery-item
		figure
			height 200px
	.last-uploaded-item
		.info
			padding 10px 20px
			.title
				margin-bottom 20px
	/*ABOUT US*/
	.about-us
		iframe
			height auto
			min-height 260px
			width 100%
@media screen and (min-width:768px)
	.m-bottom-20
		padding-bottom 20px
	.navbar-default
		min-height 70px
	.navbar-nav
		padding-top 25px
		z-index 10
	.navbar-brand
		padding-top 24px
	.navbar-nav
		li
			&:last-of-type a
				border none
			a
				border-right 1px solid white
				padding-bottom 0
				padding-top 0
	h1
		font-size 3em
		margin 40px 0
	.container.last-uploaded
		.row
			padding-bottom 20px
			overflow hidden
			background-color white
	.last-uploaded-item
		background transparent
		background white
		margin 0
		padding 0
		.item-container
			background white
			margin 0 auto
			overflow hidden
			width 90%
		figure
			display block
			width 100%
			min-height 169px
			background-color gris2
			a
				display flex
				height 100%
				img
					display flex
					align-self center
		.info
			display block
			height 150px
			overflow hidden
			width 100%
			.title
				height 40px
				overflow hidden
			.description
				height 60px
				overflow hidden
	/*SEARCH*/
	.search-result-item
		.item-container
			.photo
				background-color gray
				min-height 149px
				overflow hidden
			.info
				padding 10px
				.title
					height 40px
					overflow hidden
				.description
					height 60px
					overflow hidden
	/*ABOUT US*/
	.about-us
		iframe
			height auto
			width 100%
	/*DETAIL*/
	.container.detail
		background white
		margin-top 30px
		padding-top 20px
	.col-sm-6.white
		h1.handlee.verde2
			font-size 1.6em
		&.description
			margin-top 0
			height auto
	.info-container
		width 100%
	.form-group
		.col-sm-2
			text-align right
@media screen and (min-width:992px)
	.text-center.login
		padding-left 0
		padding-right 0
		margin-top -50px
	.inner-logo
		margin-top 0
	.row.register
		margin-bottom 150px
	.last-uploaded-item
		.item-container
			.photo
				height 200px
				overflow hidden
	/*SEARCH*/
	.search-result-item
		.item-container
			.photo
				height 200px
			.info
				.title
					height 40px
				.description
					height 60px
@media screen and (min-width:1200px)
	.last-uploaded-item
		.item-container
			.photo
				height 245px
	/*SEARCH*/
	.search-result-item
		.item-container
			.photo
				height 245px
@media screen and (min-width:1280px)
	.main-banner
		height 400px
		.item
			height 400px