verde = #9FD8D2
verde2 = #459F83
verde3 = #A2B87A
.verde3
	color verde3
gris = #57646D
.handlee
	font-family 'Handlee', cursive
body
	background #F2F2F2
	font-family 'Source Sans Pro', sans-serif
.navbar-default
	background-color verde
	border-color verde
	.navbar-toggle
		border none
		&:focus
			background rgba(verde2, .7)
		&:hover
			background rgba(verde2, .2)
			
		.icon-bar
			background-color white
			width 36px
			height 4px
	.navbar-nav>li>a
		color white
.navbar
	margin-bottom 0
.main-banner
	.item
		height 300px
		background transparent url(../../images/banner.jpg) no-repeat center top
		color white
		padding 183px 30px 0 30px
		.title
			font-size 2.2em
footer
	background-color gris
	color white
	padding-top 30px
	padding-bottom 30px
	.contact
		font-size 2.8em
		color verde2
	a
		color verde3